<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stock Watcher!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/watchlist.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/burger.js"></script>

    </head>

    <body>

        <!-- Body starts here -->
        <section class="hero is-dark is-bold is-fullheight">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <p class="navbar-item has-text-warning"><i class="fas fa-chart-line fa-2x"></i></p>
                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                            data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item has-text-warning" href="/">
                                Home
                            </a>
                            <a class="navbar-item has-text-warning" href="/watchlist">
                                Watchlists
                            </a>
                            <!-- <a class="navbar-item has-text-warning" href="#">
                                About
                            </a>
                            <a class="navbar-item has-text-warning" href="#">
                                Contact
                            </a> -->
                        </div>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title has-text-warning">
                        Stock Watcher
                    </p>
                    <p class="subtitle">
                        Christopher Ellis, Carlos Hernandez, Erik Huynh
                    </p>
                </div>
            </div>
        </section>
    </body>

</html>
