<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heckin' Stonks!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/css/watchlist.css"> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/watchlist.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://bulma.io">
                <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
                    width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navMenubd-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenubd-example" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item " href="/">
                    Watchlists
                </a>
                <a class="navbar-item " href="/watchlist">
                    Watchlists
                </a>
                <a class="navbar-item " href="h#">
                    Portfolios
                </a>
                <a class="navbar-item " href="#">
                    About
                </a>
                <a class="navbar-item " href="#">
                    Contact
                </a>
                <a class="navbar-item " href="#">
                    Report an issue
                </a>
            </div>

        </div>
    </nav>
    <!-- Aside Menu -->
    <div class="columns is-fullheight">
        <div class="column is-2 is-sidebar-menu is-hidden-mobile">
            <aside class="menu">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" id="tickerInput" type="text" placeholder="Find a stock">
                    </div>
                    <div class="control">
                        <a class="button is-info" id="tickerBtn">
                            Search
                        </a>
                    </div>
                </div>
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" id="listInput" type="text" placeholder="Enter New Watchlist">
                    </div>
                    <div class="control">
                        <a class="button is-info" id="newListBtn">
                            Add watchlist
                        </a>
                    </div>
                </div>
                <p class="menu-label">
                    Watchlist
                </p>
                <ul class="menu-list" id="watchAside">
                    <li><a>Automotive</a></li>
                    <li><a>Technology</a></li>
                    <li><a>Energy</a></li>
                </ul>
            </aside>
        </div>
        <!-- Main Content Area -->
        <div class="column is-main-content" id="watchlistContent">
            Main content
        </div>
    </div>
</body>

</html>