<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Heckin' Stonks!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/watchlist.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/watchlist.js"></script>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar is-info">
            <div class="navbar-brand">
                
                <div class="navbar-burger burger" data-target="navMenubd-example">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenubd-example" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item " href="/">
                        Home
                    </a>
                    <a class="navbar-item " href="/watchlist">
                        Watchlists
                    </a>
                    <a class="navbar-item " href="#">
                        About
                    </a>
                    <a class="navbar-item " href="#">
                        Contact
                    </a>
                </div>
            </div>
        </nav>
        <br>
        <!-- Aside Menu -->

        </div>
    </nav>
    <!-- Aside Menu -->
    <div class="columns is-centered is-variable is-5 is-fullheight">
        <div class="column is-narrow is-sidebar-menu is-hidden-mobile is-offset-1">
            <aside class="menu">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" id="tickerInput" type="text" placeholder="Find a stock">
                    </div>
                    <p class="control">
                        <button class="button is-info" id="tickerBtn">
                            <span class="icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </button>
                    </p>
                </div>
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" id="listInput" type="text" placeholder="Create New Watchlist">
                    </div>
                    <p class="control">
                        <button class="button is-info" id="newListBtn">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </p>
                </div>
                <p class="menu-label">
                    Watchlists
                </p>
                <ul class="menu-list" id="watchAside">
                </ul>
            </aside>
        </div>

        <!-- Main Content Area -->

        <div class="column is-main-content" id="watchlistContent"></div>
        <div class="column is-1"></div>

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    </body>

</html>
